In [16]:
import pandas as pd

# LOF = pd.read_csv("LOF/result-2.csv", header=None)
# data = pd.read_csv("./../data-ready.csv")
LoOP = pd.read_csv("LoOP/result-1.csv", header=None)

In [14]:
# LOF
data

,Unnamed: 0,ID,Reste ÌÊ vivre mensuel,Taux d'apport,Revenus du foyer,Taux d'endettement,Prix_immobilier,Apport global,d_eligible,instruit,...,Bourgogne-Franche-Comte,Bretagne,Centre-Val de Loire,Ile-de-France,La Reunion,Languedoc-Roussillon-Midi-Pyrenees,Nord-Pas-de-Calais-Picardie,Normandie,Pays de la Loire,Provence-Alpes-CÌ«te d'Azur
0,1499,2,5321.000000,19.44,6213.60,14.360000,180000.000000,35000.00000,1,0,...,0,0,0,1,0,0,0,0,0,0
1,982,3,5267.000000,25.00,6397.79,17.670000,200000.000000,50000.00000,1,0,...,0,0,0,0,0,0,1,0,0,0
2,2831,7,2885.000000,38.89,3588.01,34.260000,180000.000000,70000.00000,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1636,8,1860.000000,15.87,2832.38,34.320000,189000.000000,30000.00000,1,0,...,0,0,0,0,0,1,0,0,0,0
4,434,14,4538.000000,32.86,5965.26,24.350000,350000.000000,115000.00000,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,581,7923,4060.000000,4.00,5500.00,26.180000,250000.000000,10000.00000,0,0,...,0,0,0,1,0,0,0,0,0,0
2495,2732,7930,1374.000000,20.00,2700.00,49.110000,270000.000000,54000.00000,0,0,...,0,0,0,1,0,0,0,0,0,0
2496,1675,7931,2104.000000,20.00,4049.39,48.030000,400000.000000,80000.00000,0,0,...,0,0,0,1,0,0,0,0,0,0
2497,862,7938,2283.768086,0.00,0.00,8547.956165,212179.678782,44760.64497,0,0,...,0,0,0,1,0,0,0,0,0,0
2498,290,7939,3357.000000,15.00,4000.00,16.100000,100000.000000,15000.00000,0,0,...,0,0,0,1,0,0,0,0,0,0

In [17]:
LoOP

                                      0
0      loop-outlier=0.12081777707620542
1       loop-outlier=0.3450228972133744
2                      loop-outlier=0.0
3     loop-outlier=0.027832066720627692
4        loop-outlier=0.467164476208383
...                                 ...
2494                   loop-outlier=0.0
2495                   loop-outlier=0.0
2496                   loop-outlier=0.0
2497    loop-outlier=0.5075696074113997
2498                   loop-outlier=0.0

[2499 rows x 1 columns]